$input_width: 17rem;
$input_height: 2.5rem;
$input_indent_left: 0.6rem;
$border_style: 1px solid #999;
$focus_color: #408ed9;
$focus_shadow: inset 0 0 0 1px $focus-color;
$list_item_padding: 0.45rem $input_indent_left;

.input {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: $input_width;
  height: $input_height;
}

.input__textbox {
  flex-grow: 1;
  min-width: 0;
  border: $border_style;
  border-radius: 3px;
  padding: {
    right: $input_height;
    left: 0.6rem;
  }

  &:focus {
    outline: none;
    box-shadow: $focus_shadow;
    border: {
      color: $focus_color;
      bottom-left-radius: 0;
      bottom-right-radius: 0;
    }
  }
}

.input__reset-button {
  $side: 2rem;
  $indent: ($input_height - $side) / 2;

  position: absolute;
  top: $indent;
  right: $indent;
  display: block;
  width: $side;
  height: $side;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.3;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.15rem;
    height: 0.6 * $side;
    background-color: #555;
    content: ' ';
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:focus {
    border: $border_style;
    border-color: $focus_color;
    outline: none;
    box-shadow: $focus_shadow;
  }
}

.suggestions {
  position: relative;
}

.suggestions__list {
  $border_radius: 4px;

  position: absolute;
  box-sizing: border-box;
  width: $input_width;
  margin: 0;
  padding: 0;
  list-style: none;
  border: $border_style;
  border: {
    top: none;
    bottom-left-radius: $border_radius;
    bottom-right-radius: $border_radius;
  }
}

.suggestions__item {
  padding: $list_item_padding;
  cursor: pointer;

  &_selected {
    background-color: lightgray;
  }
}

.suggestions__text {
  padding: $list_item_padding;
}
